!!!
html
  head
    title Weibo Visualization
    meta(charset='utf-8')
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='Introductory D3.js')
    block stylesheets
      link(rel='stylesheet', href='stylesheets/lib/tipsy.css')

  body
    block content

    block scripts
      script(src='javascripts/lib/jquery.min.js')
      script(src='javascripts/lib/jquery.tipsy.js')