@import 'lib/reset.css'
@import 'lib/mixins.styl'
@import 'lib/stybr.styl'

lightergrey = rgb(240,240,240)
lightgrey = rgb(189, 189, 189)
grey = rgb(115, 115, 115)
darkgrey = rgb(82, 82, 82)
darkergrey = rgb(37,37,37)

body
  font-family 'Lucida Grande', Helvetica, Arial, sans-serif
  min-width 1024px

::selection
  background-color rgba(grey, .75)
  color #fff
  fill #fff
::-moz-selection
  background-color rgba(grey, .75)
  color #fff
  fill #fff

.tipsy
  .tipsy-arrow
    display none
  .tipsy-inner
    background-color rgba(#fff, .85)
    color grey
    border 1px solid rgba(lightergrey, 1)
    div.status-info
      text-align left
      .status-content
        margin-bottom 4px
    div.user-info
      margin-left 55px
      text-align left
      .user-name
        font-weight bold
        margin-bottom 4px
    img.avatar
      float left
    clearfix()

#vis
  position relative
  padding 50px 50px
  svg
    path.province-ellipse
      stroke lightergrey
      fill lightgrey
      transition fill-opacity .25s, stroke-opacity .25s
      cursor pointer
      &.highlighted
        fill-opacity .3
        stroke-opacity 1
      &.not-highlighted
        fill-opacity .1
        stroke-opacity 1
      &.normal
        fill-opacity .1
        stroke-opacity 1

    circle.userplot
      fill-opacity .5
      transition fill-opacity .25s, stroke-opacity .25s
      cursor pointer
      &.highlighted
        fill-opacity .8
        stroke-opacity 1
      &.not-highlighted
        fill-opacity .2
        stroke-opacity 1
      &.normal
        fill-opacity .5
        stroke-opacity 1

    g#status-layers-wrapper
      path.layer-baseline
        stroke lightergrey
        fill lightgrey
        stroke-opacity 1
        fill-opacity .1
        cursor pointer

    g#statuses-wrapper
      circle.status
        fill lightgrey
        fill-opacity .5
        transition fill-opacity .25s
        cursor pointer
      &.selecting
        circle.status
          fill-opacity .15
          &.selected
            fill-opacity .75

    g#user-status-links-wrapper
      path.user-status-link
        stroke lightgrey
        stroke-opacity .075
        fill transparent
        stroke-width 1
        transition stroke-opacity .25s, stroke-width .25s
        &.expanded
          stroke-width 1.5
          stroke-opacity .15
        &.topic-deselected
          stroke-width 0
      &.selecting
        path.user-status-link
          stroke-opacity .05
          &.selected
            stroke-opacity .25
            stroke-width 1.5
            &.expanded
              stroke-opacity .3
          &.topic-deselected
            stroke-width 0

    g#status-stack-wrapper
      path.status-stack-layer
        fill lightgrey
        fill-opacity .65
        stroke-width 1px
        stroke #fff
        stroke-opacity .25
        transition color .25s, fill-opacity .25s
        cursor pointer
      &.selecting
        path.status-stack-layer
          fill-opacity .3
      path.status-stack-layer
        &:hover
          fill-opacity .75
      &.selecting
        path.status-stack-layer
          &.selected
            fill-opacity .9
      text.stack-time-label
        font-size 10px
        fill rgba(grey, .5)
  #stack-normalization-switch
    .switch img
      position absolute
      opacity .3
      cursor pointer
      transition opacity .25s
      &:hover
        opacity .5
      &.active
        opacity .8

  #user-info
    position absolute
    background-color rgba(#fff, .75)
    color grey
    border 1px solid rgba(grey, .25)
    width 98px
    font-size 10px
    border-radius 5px
    display none
    #avatar
      width 98px
      height 98px
      border-radius 2px 2px 0 0
    #detailed-info
      padding 5px
      #name
        font-weight bold
        margin-bottom 5px